    <div class="card-content">
            {{post.words}}
            <div>
                <b>{{user.username}}</b>
                {{post.reated_at}}<a href="/post/{{post.id}}">{{comments.length}}</a>
            </div>
    </div>