    <div class="card-content">
            {{words}}
            <div>
                <b>{{user.username}}</b>
                {{created_at}}<a href="/post/{{id}}">{{comments.length}}</a>
            </div>
    </div>