    <div class="card-content">
            {{words}}
            <div>
                <b>{{user.username}}</b>
                {{format_date created_at}}<a href="/post/{{id}}">{{comments.length}} {{format_plural comments.length}}</a>
            </div>
    </div>