    {{#each posts as |post|}}

     <div class="card-content ">
        <h1>{{post.title}}</h1>
            <h3>{{post.words}}</h3>
            <div>
                <p>By: {{post.user.username}}</p>
                <p>{{post.createdAt}}</p>
                <a href="/dashboard/edit/{{post.id}}">Edit</a>
                <a href="/posts/delete">Delete</a>
             
            </div>
    </div>
    {{/each}}   
{{!-- {{#if loggedIn}}
<form id="comment-form">

    <textarea id="comment-form-body"name="comment-body"></textarea>

    <button id="button">add comment</button>
  
</form>
{{/if}}

{{>comments comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}} --}}