{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
<<<<<<< HEAD
    <p>Created by {{post.username}} on {{post.date_created}}</p>
=======
    <p>Created by {{post.username}} on {{ post.date_created}}</p>
>>>>>>> 9578ec8a3ec199483a60d5f36cb4d124fe370c26
  </div>
  <div class="col-md-7">
    <p>
      {{post.words}}
    </p>
  </div>
</div>
{{/each}}
