{{#each posts as |post| }}

<div class="row mb-4 card project">
  <div class="col-md-5 card">
    <h2>
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </h2>
    <h3>Post by: {{user.username}} </h3>
  </div>
  <div class="col-md-7">
    <p>
      {{post.words}}
    </p>
  </div>
</div>
    <h4>Comments: </h4>
    {{#each post.comments as |comment| }}
    <p>{{comment.user.username}}: {{comment.comment_words}}</p>
    {{/each}}
{{/each}}
